.root {
  position: relative;
  width: 1440px;
  height: 1024px;
  align-items: flex-start;
  background-color: #141812;
  overflow: hidden;
}
.cookies_bg {
  position: absolute;
  left: 0;
  top: 664px;
  width: 1440px;
  height: 959px;
  background-image:/* webpackIgnore: true */ url('/assets/cookies_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.backgroundBlur {
  position: absolute;
  left: -695px;
  top: 480px;
  width: 2592px;
  height: 279px;
  background-color: #141812;
  filter: blur(40px);
}
.linha {
  position: absolute;
  left: 40px;
  top: 188px;
  width: 1360px;
  height: 560px;
  align-items: flex-start;
  overflow: hidden;
}
.itemDaLinha {
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
  height: 560px;
  align-items: flex-start;
  overflow: hidden;
}
.base_item {
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
  height: 560px;
  border-radius: 20px;
  background-color: #d9d9d9;
}
.img_item {
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
  height: 210px;
  border-radius: 20px;
  background-image:/* webpackIgnore: true */ url('/assets/img_item.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blur_item {
  position: absolute;
  left: -218px;
  top: 165px;
  width: 672px;
  height: 314px;
  background-color: #d9d9d9;
  filter: blur(20.5px);
}
.aACHENERPRINTEN {
  color: #000;
  font-size: 36px;
  font-family: Italiana, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 2px;
  top: 210px;
  width: 278px;
  height: 84px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.alemanha {
  color: #000;
  font-size: 20px;
  font-family: Jacques Francois, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 56px;
  top: 294px;
  width: 169px;
  height: 47px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.aachenerPrintenSaoUmTipoDeLebk {
  color: #2e2a1c;
  font-size: 14px;
  font-family: Julius Sans One, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 20px;
  top: 347px;
  width: 240px;
  height: 203px;
  text-align: justify;
  flex-direction: column;
}
.itemDaLinha2 {
  position: absolute;
  left: 360px;
  top: 0;
  width: 280px;
  height: 560px;
  align-items: flex-start;
  overflow: hidden;
}
.base_item2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
  height: 560px;
  border-radius: 20px;
  background-color: #d9d9d9;
}
.img_item2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
  height: 210px;
  border-radius: 20px;
  background-image:/* webpackIgnore: true */ url('/assets/img_item2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blur_item2 {
  position: absolute;
  left: -218px;
  top: 165px;
  width: 672px;
  height: 314px;
  background-color: #d9d9d9;
  filter: blur(20.5px);
}
.aACHENERPRINTEN2 {
  color: #000;
  font-size: 36px;
  font-family: Italiana, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 2px;
  top: 210px;
  width: 278px;
  height: 84px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.alemanha2 {
  color: #000;
  font-size: 20px;
  font-family: Jacques Francois, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 56px;
  top: 294px;
  width: 169px;
  height: 47px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.aachenerPrintenSaoUmTipoDeLebk2 {
  color: #2e2a1c;
  font-size: 14px;
  font-family: Julius Sans One, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 20px;
  top: 347px;
  width: 240px;
  height: 203px;
  text-align: justify;
  flex-direction: column;
}
.itemDaLinha3 {
  position: absolute;
  left: 720px;
  top: 0;
  width: 280px;
  height: 560px;
  align-items: flex-start;
  overflow: hidden;
}
.base_item3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
  height: 560px;
  border-radius: 20px;
  background-color: #d9d9d9;
}
.img_item3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
  height: 210px;
  border-radius: 20px;
  background-image:/* webpackIgnore: true */ url('/assets/img_item3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blur_item3 {
  position: absolute;
  left: -218px;
  top: 165px;
  width: 672px;
  height: 314px;
  background-color: #d9d9d9;
  filter: blur(20.5px);
}
.aACHENERPRINTEN3 {
  color: #000;
  font-size: 36px;
  font-family: Italiana, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 2px;
  top: 210px;
  width: 278px;
  height: 84px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.alemanha3 {
  color: #000;
  font-size: 20px;
  font-family: Jacques Francois, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 56px;
  top: 294px;
  width: 169px;
  height: 47px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.aachenerPrintenSaoUmTipoDeLebk3 {
  color: #2e2a1c;
  font-size: 14px;
  font-family: Julius Sans One, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 20px;
  top: 347px;
  width: 240px;
  height: 203px;
  text-align: justify;
  flex-direction: column;
}
.itemDaLinha4 {
  position: absolute;
  left: 1080px;
  top: 0;
  width: 280px;
  height: 560px;
  align-items: flex-start;
  overflow: hidden;
}
.base_item4 {
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
  height: 560px;
  border-radius: 20px;
  background-color: #d9d9d9;
}
.img_item4 {
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
  height: 210px;
  border-radius: 20px;
  background-image:/* webpackIgnore: true */ url('/assets/img_item4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blur_item4 {
  position: absolute;
  left: -218px;
  top: 165px;
  width: 672px;
  height: 314px;
  background-color: #d9d9d9;
  filter: blur(20.5px);
}
.aACHENERPRINTEN4 {
  color: #000;
  font-size: 36px;
  font-family: Italiana, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 2px;
  top: 210px;
  width: 278px;
  height: 84px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.alemanha4 {
  color: #000;
  font-size: 20px;
  font-family: Jacques Francois, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 56px;
  top: 294px;
  width: 169px;
  height: 47px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.aachenerPrintenSaoUmTipoDeLebk4 {
  color: #2e2a1c;
  font-size: 14px;
  font-family: Julius Sans One, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 20px;
  top: 347px;
  width: 240px;
  height: 203px;
  text-align: justify;
  flex-direction: column;
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 1440px;
  height: 160px;
  align-items: flex-start;
  overflow: hidden;
}
.base {
  position: absolute;
  left: 0;
  top: 0;
  width: 1440px;
  height: 160px;
  background-color: #d9d9d9;
  box-shadow: inset 0px -6px 0px #747474;
}
.pesquisa {
  position: absolute;
  left: 210px;
  top: 30px;
  width: 1180px;
  height: 100px;
  border-radius: 60px;
  background-color: #f3f3f3;
}
.pesquisarCookies {
  color: #747474;
  font-size: 40px;
  font-family: Judson, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 324px;
  top: 30px;
  width: 1014px;
  height: 100px;
  justify-content: center;
  flex-direction: column;
}
.perfil {
  position: absolute;
  left: 40px;
  top: 20px;
  width: 120px;
  height: 120px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.lupa {
  position: absolute;
  left: 237px;
  top: 49px;
  width: 50px;
  height: 63px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.hidden_log {
  position: absolute;
  left: 0;
  top: 140px;
  width: 300px;
  height: 116px;
  align-items: flex-start;
  border-radius: 20px;
  overflow: hidden;
}
.logOut {
  position: absolute;
  left: 0;
  top: 16px;
  width: 300px;
  height: 100px;
  background-color: #d9d9d9;
  box-shadow: inset 0px 5px 0px #747474;
}
.lOGOUT {
  color: #000;
  font-size: 40px;
  font-family: Judson, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 16px;
  width: 300px;
  height: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
