.root {
  position: relative;
  width: 1440px;
  height: 1024px;
  align-items: flex-start;
  background-color: #141812;
  overflow: hidden;
}
.chocolateChipCookieBatterInABo {
  position: absolute;
  left: -385px;
  top: 0;
  width: 1536px;
  height: 1024px;
  background-image:/* webpackIgnore: true */ url('/assets/chocolateChipCookieBatterInABo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle1 {
  position: absolute;
  left: 609px;
  top: -289px;
  width: 1201px;
  height: 1603px;
  overflow: visible;
  filter: blur(98px);
}
.icon {
  width: 100%;
  height: 100%;
}
.logInRegister {
  position: absolute;
  left: 848px;
  top: 0;
  width: 592px;
  height: 1024px;
  align-items: flex-start;
  overflow: hidden;
}
.google {
  position: absolute;
  left: 0;
  top: 677px;
  width: 592px;
  height: 237px;
  align-items: flex-start;
  overflow: hidden;
}
.nomeDeUser {
  position: absolute;
  left: 50px;
  top: 71px;
  width: 492px;
  height: 60px;
  border-radius: 30px;
  background-color: #d9d9d9;
}
.logInComGoogle {
  color: #404040;
  font-size: 20px;
  font-family: Judson, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 238px;
  top: 71px;
  width: 159px;
  height: 60px;
  justify-content: center;
  flex-direction: column;
}
._73289301 {
  position: absolute;
  left: 195px;
  top: 81px;
  width: 40px;
  height: 40px;
  background-image:/* webpackIgnore: true */ url('/assets/_73289301.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logIn {
  position: absolute;
  left: 0;
  top: 440px;
  width: 592px;
  height: 237px;
  align-items: flex-start;
  overflow: hidden;
}
.senha {
  position: absolute;
  left: 50px;
  top: 154px;
  width: 492px;
  height: 60px;
  border-radius: 30px;
  background-color: #d9d9d9;
}
.nomeDeUser2 {
  position: absolute;
  left: 50px;
  top: 71px;
  width: 492px;
  height: 60px;
  border-radius: 30px;
  background-color: #d9d9d9;
}
.lOGIN {
  color: #fff;
  font-size: 40px;
  font-family: Judson, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 130px;
  top: 6px;
  width: 331px;
  height: 65px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nomeDeUsuarioEmail {
  color: #404040;
  font-size: 20px;
  font-family: Judson, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 73px;
  top: 71px;
  width: 434px;
  height: 60px;
  justify-content: center;
  flex-direction: column;
}
.senha2 {
  color: #404040;
  font-size: 20px;
  font-family: Judson, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 73px;
  top: 154px;
  width: 434px;
  height: 60px;
  justify-content: center;
  flex-direction: column;
}
.register {
  position: absolute;
  left: 0;
  top: 40px;
  width: 592px;
  height: 400px;
  align-items: flex-start;
  overflow: hidden;
}
.senhaDeNovo {
  position: absolute;
  left: 50px;
  top: 320px;
  width: 492px;
  height: 60px;
  border-radius: 30px;
  background-color: #d9d9d9;
}
.senha3 {
  position: absolute;
  left: 50px;
  top: 237px;
  width: 492px;
  height: 60px;
  border-radius: 30px;
  background-color: #d9d9d9;
}
.email {
  position: absolute;
  left: 50px;
  top: 154px;
  width: 492px;
  height: 60px;
  border-radius: 30px;
  background-color: #d9d9d9;
}
.nomeDeUser3 {
  position: absolute;
  left: 50px;
  top: 71px;
  width: 492px;
  height: 60px;
  border-radius: 30px;
  background-color: #d9d9d9;
}
.rEGISTRAR {
  color: #fff;
  font-size: 40px;
  font-family: Judson, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 130px;
  top: 6px;
  width: 331px;
  height: 65px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nomeDeUsuario {
  color: #404040;
  font-size: 20px;
  font-family: Judson, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 73px;
  top: 71px;
  width: 434px;
  height: 60px;
  justify-content: center;
  flex-direction: column;
}
.email2 {
  color: #404040;
  font-size: 20px;
  font-family: Judson, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 73px;
  top: 154px;
  width: 408px;
  height: 60px;
  justify-content: center;
  flex-direction: column;
}
.senha4 {
  color: #404040;
  font-size: 20px;
  font-family: Judson, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 73px;
  top: 237px;
  width: 434px;
  height: 60px;
  justify-content: center;
  flex-direction: column;
}
.confirmarSenha {
  color: #404040;
  font-size: 20px;
  font-family: Judson, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 73px;
  top: 320px;
  width: 434px;
  height: 60px;
  justify-content: center;
  flex-direction: column;
}
.line2 {
  position: absolute;
  left: 44px;
  top: 677px;
  width: 492px;
  max-width: 100%;
  height: 4px;
  max-height: 100%;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.line22 {
  position: absolute;
  left: 50px;
  top: 440px;
  width: 492px;
  max-width: 100%;
  height: 4px;
  max-height: 100%;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
